---
title: External Resource CRUD
type: External Resource
typeURL: external-resource
---

{{#content "Edit Node"}}
	<!--Add node-->
	<tr>
		<td>open</td>
		<td>/node/add/{{typeURL}}</td>
		<td></td>
	</tr>
	{{> enter_title_body}}
	<tr>
		<td>type</td>
		<td>id=edit-field-external-resource-und-0-title</td>
		<td>${relatedExternalLinksTitle}</td>
	</tr>
	<tr>
		<td>type</td>
		<td>id=edit-field-external-resource-und-0-url</td>
		<td>${relatedExternalLinksURL}</td>
	</tr>
	{{> content_options_without_security_owner_links_topic}}
	{{> publish_node}}
{{/content}}

{{#content "Verify Node"}}
	<!--Verify node-->
	{{> verify_view_title_body}}
	<tr>
		<td>verifyText</td>
		<td>link=${relatedExternalLinksTitle}</td>
		<td>${relatedExternalLinksTitle}</td>
	</tr>
{{/content}}

{{#content "Update Node"}}
	<!--Update the Node-->
	<tr>
		<td>clickAndWait</td>
		<td>link=Edit</td>
		<td></td>
	</tr>
	{{> verify_edit_title_body_update}}
	{{> enter_title_body_update}}
	<tr>
		<td>type</td>
		<td>id=edit-field-external-resource-und-0-title</td>
		<td>${relatedExternalLinksTitleUpdate}</td>
	</tr>
	<tr>
		<td>type</td>
		<td>id=edit-field-external-resource-und-0-url</td>
		<td>${relatedExternalLinksURLUpdate}</td>
	</tr>
	{{> content_options_without_security_owner_links_topic_update}}
	{{#if userCantDelete}}
		{{> verify_cant_delete}}
	{{/if}}
	{{> publish_node}}
{{/content}}

{{#content "Verify Updated Node"}}
	<!--Verify node has been updated-->
	<tr>
		<td>open</td>
		<td>/{{typeURL}}/${titleUpdate}</td>
		<td></td>
	</tr>
	{{> verify_view_title_body_update}}
	<tr>
		<td>verifyText</td>
		<td>link=${relatedExternalLinksTitleUpdate}</td>
		<td>${relatedExternalLinksTitleUpdate}</td>
	</tr>
{{/content}}

{{#content "Delete Node"}}
	{{> delete_node}}
{{/content}}