---
title: Agreement CRUD
type: Agreement
---

{{#content "Edit Node"}}
<!--Add node-->
<tr>
	<td>open</td>
	<td>/node/add/custom/44</td>
	<td></td>
</tr>
{{> enter_title_body}}
{{> set_content_options}}
{{#if userCantDelete}}
	{{> verify_author_delete}}
{{/if}}
{{> publish_node}}
{{/content}}



{{#content "Verify Node"}}
<!--Verify node has been created-->
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.messages.status:contains('{{type}} ${title} has been created.')</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=h2.pane-title</td>
	<td>${title}</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=p</td>
	<td>${body}</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>link=${security}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>link=${relatedExternalLinksTitle}</td>
	<td></td>
</tr>
{{/content}}

{{#content "Update Node"}}
<!--Update the Node-->
<tr>
	<td>clickAndWait</td>
	<td>link=Edit</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>id=edit-title</td>
	<td>${title}</td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>id=edit-body-und-0-value</td>
	<td>${body}</td>
</tr>
{{> enter_title_body_update}}
{{> update_content_options}}
{{> publish_node}}
{{/content}}

{{#content "Verify Updated Node"}}
<!--Verify node has been updated-->
<tr>
	<td>open</td>
	<td>/agreement/${titleUpdate}</td>
	<td></td>
</tr>
<!-- we do not verify the message here because this step is reused in multiple places. -->
<tr>
	<td>verifyText</td>
	<td>css=h2.pane-title</td>
	<td>${titleUpdate}</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=p</td>
	<td>${bodyUpdate}</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>link=${securityUpdate}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>link=${relatedExternalLinksTitleUpdate}</td>
	<td></td>
</tr>
{{/content}}

{{#content "Delete Node"}}
{{> delete_node}}
{{/content}}





