<tr>
	<td>verifyElementPresent</td>
	<td>css=table.ui-datepicker-calendar</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>css=select.ui-datepicker-month</td>
	<td>label=Feb</td>
</tr>
<tr>
	<td>select</td>
	<td>css=select.ui-datepicker-year</td>
	<td>label=2019</td>
</tr>
<tr>
	<td>click</td>
	<td>link=5</td>
	<td></td>
</tr>