<!--Log in as user-->
<tr>
	<td>type</td>
	<td>id=edit-name</td>
	<td>${user}</td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-pass</td>
	<td>${user}</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>