<!-- Update Content Options-->
{{> meta_organisational_section_update}}
<!--Verify The Node is set to Published-->
<tr>
	<td>verifyValue</td>
	<td>id=edit-workflow-3</td>
	<td>on</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Click here for more Advanced Options</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.panel-panel.grid-12</td>
	<td></td>
</tr>
	<!--'Organisational' Content Options-->
	{{> meta_organisational_section_update}}
	{{> meta_organisational_primary_category_update}}
	<!--Change to 'Tags' Content Options-->
	<tr>
		<td>click</td>
		<td>link=Tags</td>
		<td></td>
	</tr>
	<!--Ignoring Projects as unnecessarily complex-->
	{{> meta_tags_country_update}}
{{> meta_targeting_update}}