<!-- delete Node -->
<tr>
	<td>open</td>
	<td>/{{typeURL}}/${titleUpdate}</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Edit</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-delete</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.messages.status:contains('${titleUpdate} has been deleted.')</td>
	<td></td>
</tr>
