<tr>
	<td>type</td>
	<td>id=edit-title</td>
	<td>${titleUpdate}</td>
</tr>
<tr>
	<td>getEval</td>
	<td>window.CKEDITOR.instances['edit-body-und-0-value'].setData('${bodyUpdate}')</td>
	<td></td>
</tr>