<!-- set site section and published -->
{{> meta_organisational_section}}
<tr>
	<td>click</td>
	<td>id=edit-workflow-3</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=Click here for more Advanced Options</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.panel-panel.grid-12</td>
	<td></td>
</tr>
{{> meta_organisational}}
{{> meta_links}}
{{> meta_tags}}
{{> meta_targeting}}
<!-- no publishing options since 2.15 -->