<!-- Update Content Options-->
{{> meta_organisational_section_update}}
<!--Verify The Node is set to Published-->
<tr>
	<td>verifyValue</td>
	<td>id=edit-workflow-3</td>
	<td>on</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Click here for more Advanced Options</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.panel-panel.grid-12</td>
	<td></td>
</tr>
{{> meta_organisational_update}}
{{> meta_links_update}}
{{> meta_tags_update}}
{{> meta_targeting_update}}
<!-- no publishing options since 2.15 -->