<tr>
	<td>verifyValue</td>
	<td>id=edit-title</td>
	<td>${title}</td>
</tr>
<tr>
	<td>verifyEval</td>
	<td>window.CKEDITOR.instances['edit-body-und-0-value'].getData().indexOf('${body}')>-1</td>
	<td>true</td>
</tr>