{{!--
<tr>
	<td>verifySelectedLabel</td>
	<td>id=edit-field-primary-category-und-0-target-id-select-1</td>
	<td>${primaryCategory}</td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-field-primary-category-und-0-target-id-select-1</td>
	<td>${primaryCategoryUpdate}</td>
</tr>
--}}