<!--Verify end date input dissappears-->
<tr>
	<td>verifyValue</td>
	<td>id=edit-field-implementation-date-und-0-show-todate</td>
	<td>on</td>
</tr>
<tr>
	<td>click</td>
	<td>id=edit-field-implementation-date-und-0-show-todate</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>id=edit-field-implementation-date-und-0-show-todate</td>
	<td>off</td>
</tr>
<tr>
	<td>verifyNotVisible</td>
	<td>id=edit-field-implementation-date-und-0-value2-datepicker-popup-0</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=edit-field-implementation-date-und-0-show-todate</td>
	<td></td>
</tr>
<tr>
	<td>verifyVisible</td>
	<td>id=edit-field-implementation-date-und-0-value2-datepicker-popup-0</td>
	<td></td>
</tr>
<!--Update Start Date-->
<tr>
	<td>verifyValue</td>
	<td>id=edit-field-implementation-date-und-0-value-datepicker-popup-0</td>
	<td>${startDate}</td>
</tr>
<tr>
	<td>click</td>
	<td>id=edit-field-implementation-date-und-0-value-datepicker-popup-0</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=table.ui-datepicker-calendar</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=2</td>
	<td></td>
</tr>
<!--Update End Date-->
<tr>
	<td>verifyValue</td>
	<td>id=edit-field-implementation-date-und-0-value2-datepicker-popup-0</td>
	<td>${endDate}</td>
</tr>
<tr>
	<td>click</td>
	<td>id=edit-field-implementation-date-und-0-value2-datepicker-popup-0</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=table.ui-datepicker-calendar</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>css=select.ui-datepicker-month</td>
	<td>label=Mar</td>
</tr>
<tr>
	<td>select</td>
	<td>css=select.ui-datepicker-year</td>
	<td>label=2019</td>
</tr>
<tr>
	<td>click</td>
	<td>link=1</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-field-type-und</td>
	<td>${policyTypeUpdate}</td>
</tr>