<!--Add author to site section-->
<tr>
	<td>open</td>
	<td>/section/home/group</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Add people</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-name</td>
	<td>${user}</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.messages.status:contains('${user} has been added to the group ${section}.')</td>
	<td></td>
</tr>
<tr>
	<td>open</td>
	<td>/section/golfing-world/group</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Add people</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-name</td>
	<td>${user}</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.messages.status:contains('${user} has been added to the group ${sectionUpdate}.')</td>
	<td></td>
</tr>