{{!-- depending on user variable choose user --}}
{{#if Webmaster}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-4</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-4</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Author}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-5</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-5</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Moderator}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-6</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-6</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Editor}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-7</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-7</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Publisher}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-8</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-8</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Content_Reviewer}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-10</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-10</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Section_Manager}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-12</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-12</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Previewer}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-13</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-13</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Analytics_Manager}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-14</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-14</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Blogger}}
<tr>
	<td>click</td>
	<td>id=edit-roles-change-3</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-3</td>
	<td>on</td>
</tr>
{{/if}}