<tr>
	<td>verifyText</td>
	<td>//div[@id='block-system-main']/div/div/div/div[2]/div/div/div[5]/div/div/div/div/p</td>
	<td>exact:aims: testing learning</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//div[@id='block-system-main']/div/div/div/div[2]/div/div/div[7]/div/div/div/div/p</td>
	<td>Prerequisites include height</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//div[@id='block-system-main']/div/div/div/div[2]/div/div/div[9]/div/div/div/div/p</td>
	<td>Target Audience</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//div[@id='block-system-main']/div/div/div/div[2]/div/div/div[11]/div/div/div/div/p</td>
	<td>Agenda text: invotra meeting ending with cake</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//div[@id='block-system-main']/div/div/div/div[2]/div/div/div[13]/div/div/div/div/p</td>
	<td>Other Information</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//div[@id='block-system-main']/div/div/div/div[2]/div[2]/div/div/div/div/div/div</td>
	<td>1 hr</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//div[@id='block-system-main']/div/div/div/div[2]/div[2]/div/div[3]/div/div/div/div</td>
	<td>Venue Invotra</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//div[@id='block-system-main']/div/div/div/div[2]/div[2]/div/div[5]/div/div/div/div</td>
	<td>£60</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//div[@id='block-system-main']/div/div/div/div[2]/div[2]/div/div[7]/div/div/div/div</td>
	<td>Lindsay MacVean</td>
</tr>