<tr>
	<td>verifyText</td>
	<td>xpath=//div[@class='panel-pane pane-entity-field pane-node-field-aims']/div/div/div/div/p</td>
	<td>Aims include benevolent world domination</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=//div[@class='panel-pane pane-entity-field pane-node-field-pre-requisites']/div/div/div/div/p</td>
	<td>Prerequisites include good humour and brutal honesty</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=//div[@class='panel-pane pane-entity-field pane-node-field-target-audience']/div/div/div/div/p</td>
	<td>Rich Buyers</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=//div[@class='panel-pane pane-entity-field pane-node-field-agenda']/div/div/div/div/p</td>
	<td>Agenda updated: more cake</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=//div[@class='panel-pane pane-entity-field pane-node-field-other-information']/div/div/div/div/p</td>
	<td>All sorts of stuff</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=//div[@class='panel-pane pane-entity-field pane-node-field-duration']/div/div/div/div</td>
	<td>5hrs</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=//div[@class='panel-pane pane-entity-field pane-node-field-venue']/div/div/div/div</td>
	<td>Invotra Offices in Woking</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=//div[@class='panel-pane pane-entity-field pane-node-field-price']/div/div/div/div</td>
	<td>£2,000,000</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>xpath=//div[@class='panel-pane pane-entity-field pane-node-field-contact-name']/div/div/div/div</td>
	<td>Fintan Galvin</td>
</tr>