<!--Create User ${author}-->
<tr>
	<td>open</td>
	<td>/admin/people/create</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-name</td>
	<td>${author}</td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-mail</td>
	<td>${mail}</td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-pass-pass1</td>
	<td>${author}</td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-pass-pass2</td>
	<td>${author}</td>
</tr>
<!--Verify Status Active-->
<tr>
	<td>verifyElementPresent</td>
	<td>id=edit-status-1</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>id=edit-notify</td>
	<td>off</td>
</tr>
<!--Verify Roles-->
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-4</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-5</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-6</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-7</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-8</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-9</td>
	<td>on</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-10</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-12</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-13</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-14</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-3</td>
	<td>off</td>
</tr>
<tr>
	<td>click</td>
	<td>id=edit-roles-change-5</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>id=edit-roles-change-5</td>
	<td>on</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.messages.status:contains('Created a new user account for ${author}. No e-mail has been sent.')</td>
	<td></td>
</tr>
<!--Add author to site section-->
<tr>
	<td>open</td>
	<td>/section/home/group</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>link=Add people</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-name</td>
	<td>${author}</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.messages.status:contains('${author} has been added to the group Home.')</td>
	<td></td>
</tr>