<!-- Update Content Options-->
	<!--'Organisational' Content Options-->
	{{> meta_organisational_section_update}}
	{{> meta_organisational_primary_category_update}}
	<!--Change to 'Tags' Content Options-->
	<tr>
		<td>click</td>
		<td>link=Tags</td>
		<td></td>
	</tr>
	<!--Ignoring Projects as unnecessarily complex-->
	{{> meta_tags_country_update}}
{{> meta_targeting_update}}
{{> meta_publishing_update}}