<tr>
	<td>type</td>
	<td>id=edit-title</td>
	<td>${title}</td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-body-und-0-format--2</td>
	<td>Plain text</td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-body-und-0-value</td>
	<td>${body}</td>
</tr>