<!--Change to 'Targeting' Content Options-->
<tr>
	<td>click</td>
	<td>link=Targeting</td>
	<td></td>
</tr>
<tr>
	<td>verifySelectedLabel</td>
	<td>id=edit-field-organisational-unit-und-0-target-id-select-1</td>
	<td>${orgUnit}</td>
</tr>
<tr>
	<td>verifySelectedLabel</td>
	<td>id=edit-field-locations-und-0-target-id-select-1</td>
	<td>${location}*</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=li.ms-elem-selected</td>
	<td>${roleGrade}</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=#ms-edit-field-region-und &gt; div.ms-selection &gt; ul.ms-list &gt; li.ms-elem-selected</td>
	<td>${parentRegion}</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=li.ms-elem-selected[ms-value='668']</td>
	<td>${childRegion}</td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-field-organisational-unit-und-0-target-id-select-1</td>
	<td>${orgUnitUpdate}</td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-field-locations-und-0-target-id-select-1</td>
	<td>${locationUpdate}*</td>
</tr>
<tr>
	<td>click</td>
	<td>css=li.ms-elem-selected</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=li.ms-elem-selected</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=li.ms-elem-selected</td>
	<td></td>
</tr>