<!--Change to 'Publishing options' Content Options-->
<tr>
	<td>click</td>
	<td>link=Publishing options</td>
	<td></td>
</tr>
<!--Ignoring archive, review on, actions on review date, comment options-->
<!--Verify The Node is set to Published-->
<tr>
	<td>verifyValue</td>
	<td>id=edit-workflow-3</td>
	<td>on</td>
</tr>