<!--'Organisational' Content Options-->
<tr>
	<td>select</td>
	<td>id=edit-field-site-section-und-0-target-id-select-1</td>
	<td>${section}</td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-field-security-classification-und</td>
	<td>${security}</td>
</tr>
<!--Slowing down so, auto suggest and category dropdowns can appear-->
<tr>
	<td>setSpeed</td>
	<td>${slowSpeed}</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-field-owner-und-0-target-id</td>
	<td></td>
</tr>
<tr>
	<td>sendKeys</td>
	<td>id=edit-field-owner-und-0-target-id</td>
	<td>${wm}</td>
</tr>
<tr>
	<td>keyDown</td>
	<td>id=edit-field-owner-und-0-target-id</td>
	<td>\40</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>css=div#autocomplete</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-field-primary-category-und-0-target-id-select-1</td>
	<td>${primaryCategory}</td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-field-primary-category-und-0-target-id-select-2</td>
	<td>${subCategory}</td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-field-primary-category-und-0-target-id-select-3</td>
	<td>${subSubCategory}</td>
</tr>
<tr>
	<td>setSpeed</td>
	<td>0</td>
	<td></td>
</tr>
<!--Ignoring Group dropdown as unnecessarily complex-->