<tr>
	<td>verifyElementPresent</td>
	{{!-- using a wildcard because news page has an h1 compared to usual h2 --}}
	<td>css=*:contains(${title})</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=p</td>
	<td>${body}</td>
</tr>