<!-- delete Node -->
<tr>
	<td>clickAndWait</td>
	<td>id=edit-delete</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.messages.status:contains('Job Role ${titleUpdate} has been deleted.')</td>
	<td></td>
</tr>
