<!--Change to 'Tags' Content Options-->
<tr>
	<td>click</td>
	<td>link=Tags</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-field-tags-und</td>
	<td>${topic}</td>
</tr>
<!--Ignoring Projects as unnecessarily complex-->
<tr>
	<td>select</td>
	<td>id=edit-field-country-und</td>
	<td>${country}</td>
</tr>