---
nodeURL: /node/add/webform
---
<tr>
	<td>open</td>
	<td>{{nodeURL}}</td>
	<td></td>
</tr>

{{> enterTitleBody }}

{{> enterContentOptions }}

{{> verifyNode }}

<tr>
	<td>open</td>
	<td>{{nodeURL}}</td>
	<td></td>
</tr>

---
Update:Update
---

{{> enterTitleBody }}

{{> updateContentOptions }}