{{!-- depending on user variable choose user --}}
{{#if Webmaster}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Webmaster')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Webmaster')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Author}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Author')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Author')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Moderator}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Moderator')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Moderator')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Editor}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Editor')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Editor')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Publisher}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Publisher')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Publisher')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Content_Reviewer}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Content reviewer')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Content reviewer')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Section_Manager}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Section manager')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Section manager')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Previewer}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Previewer')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Previewer')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Analytics_Manager}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Analytics manager')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Analytics manager')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
{{#if Blogger}}
<tr>
	<td>click</td>
	<td>xpath=//label[contains(text(),'Blogger')]/../../input[@type='checkbox']</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Blogger')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
{{/if}}
