<!--Verify Roles-->
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Webmaster')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Author')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Moderator')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Editor')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Publisher')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Organisational user')]/../../input[@type='checkbox']</td>
	<td>on</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Content reviewer')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Section manager')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Previewer')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Analytics manager')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Blogger')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>xpath=//label[contains(text(),'Notify user')]/../../input[@type='checkbox']</td>
	<td>off</td>
</tr>