<tr>
	<td>type</td>
	<td>id=edit-name</td>
	<td>${title}</td>
</tr>
<tr>
	<td>select</td>
	<td>id=edit-description-format--2</td>
	<td>Plain text</td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-description-value</td>
	<td>${body}</td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>id=edit-status</td>
	<td>on</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>