<tr>
	<td>clickAndWait</td>
	<td>css=a.delete-taxonomy-link</td>
	<td>Delete</td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>css=em.placeholder</td>
	<td>${titleUpdate}</td>
</tr>