---
title: Group CRUD
type: Group
typeURL: group
---

{{#content "Edit Node"}}
	<!--Add node-->
	<tr>
		<td>open</td>
		<td>/node/add/teamspace</td>
		<td></td>
	</tr>
	{{> enter_title_body}}
	<tr>
		<td>type</td>
		<td>id=edit-field-group-quick-link-und-0-url</td>
		<td>${relatedExternalLinksURL}</td>
	</tr>
	<tr>
		<td>type</td>
		<td>id=edit-field-group-quick-link-und-0-title</td>
		<td>${relatedExternalLinksTitle}</td>
	</tr>
	{{> content_options_without_security_owner_links_tags}}
	{{> publish_node}}
{{/content}}

{{#content "Verify Node"}}
	<!--Verify node-->
	<tr>
		<td>verifyElementPresent</td>
		{{!-- using a wildcard because news page has an h1 compared to usual h2 --}}
		<td>css=*:contains(${title})</td>
		<td></td>
	</tr>
{{/content}}

{{#content "Update Node"}}
	<!--Update the Node-->
	<tr>
		<td>clickAndWait</td>
		<td>link=Edit</td>
		<td></td>
	</tr>
	{{> verify_edit_title_body_update}}
	{{> enter_title_body_update}}
	<tr>
		<td>type</td>
		<td>id=edit-field-group-quick-link-und-0-url</td>
		<td>${relatedExternalLinksURLUpdate}</td>
	</tr>
	<tr>
		<td>type</td>
		<td>id=edit-field-group-quick-link-und-0-title</td>
		<td>${relatedExternalLinksTitleUpdate}</td>
	</tr>
	{{> content_options_without_security_owner_links_tags_update}}
	{{!--Not checking if can delete because author can delete  --}}
	{{> publish_node}}
{{/content}}

{{#content "Verify Updated Node"}}
	<!--Verify node has been updated-->
	<tr>
		<td>open</td>
		<td>/{{type}}/${titleUpdate}</td>
		<td></td>
	</tr>
	<tr>
		<td>verifyElementPresent</td>
		{{!-- using a wildcard because news page has an h1 compared to usual h2 --}}
		<td>css=*:contains(${titleUpdate})</td>
		<td></td>
	</tr>
{{/content}}

{{#content "Delete Node"}}
	{{> delete_node}}
{{/content}}