---
title: Policy CRUD
type: Policy
typeURL: policy
---

{{#content "Edit Node"}}
	<!--Add node-->
	<tr>
		<td>open</td>
		<td>/node/add/{{typeURL}}</td>
		<td></td>
	</tr>
	{{> enter_title_body}}
	{{> policy_specific_steps}}
	<!--'Organisational' Content Options-->
	{{!-- missing security, owner, links section, general topic, so splitting the steps out individually 
		and setting slow speed here. It would normally be set in meta_organisational.hbs --}}
	{{> meta_organisational_section}}
	<tr>
		<td>setSpeed</td>
		<td>${slowSpeed}</td>
		<td></td>
	</tr>
	{{> meta_organisational_primary_category}}
	<tr>
		<td>setSpeed</td>
		<td>0</td>
		<td></td>
	</tr>
	{{> meta_links}}
	<!--Change to 'Tags' Content Options-->
	<tr>
		<td>click</td>
		<td>link=Tags</td>
		<td></td>
	</tr>
	{{!-- No topic dropdown --}}
	<!--Ignoring Projects as unnecessarily complex-->
	{{> meta_tags_country}}
	{{> meta_targeting}}
	<!--Change to 'Publishing options' Content Options-->
	<tr>
		<td>click</td>
		<td>link=Publishing options</td>
		<td></td>
	</tr>
	{{> send_to_publisher}}
	{{> publish_node}}
{{/content}}

{{#content "Verify Node"}}
	<!--Verify node-->
	{{> verify_view_title_body}}
{{/content}}

{{#content "Update Node"}}
	<!--Update the Node-->
	<tr>
		<td>clickAndWait</td>
		<td>link=Edit</td>
		<td></td>
	</tr>
	{{> verify_edit_title_body_update}}
	{{> enter_title_body_update}}
	{{> policy_specific_steps_update}}
	<!--Update 'Organisational' Content Options-->
	{{!-- missing security, owner, links section, general topic, so splitting the steps out individually --}}
	{{> meta_organisational_section_update}}
	{{> meta_organisational_primary_category_update}}
	{{> meta_links}}
	<!--Change to 'Tags' Content Options-->
	<tr>
		<td>click</td>
		<td>link=Tags</td>
		<td></td>
	</tr>
	{{!-- No topic dropdown --}}
	<!--Ignoring Projects as unnecessarily complex-->
	{{> meta_tags_country_update}}
	{{> meta_targeting_update}}
	{{!-- not changing publishing settings as policy is in the send to publisher workflow --}}
	<!--Change to 'Publishing options' Content Options-->
	<tr>
		<td>click</td>
		<td>link=Publishing options</td>
		<td></td>
	</tr>
	{{> send_to_publisher_update}}
	{{#if userCantDelete}}
		{{> verify_cant_delete}}
	{{/if}}
	{{> publish_node}}
{{/content}}

{{#content "Verify Updated Node"}}
	<!--Verify node has been updated-->
	<tr>
		<td>open</td>
		<td>/{{typeURL}}/${titleUpdate}</td>
		<td></td>
	</tr>
	{{> verify_view_title_body_update}}
{{/content}}

{{#content "Delete Node"}}
	{{> delete_node}}
{{/content}}