<!--Create User-->
<tr>
	<td>open</td>
	<td>/admin/people/create</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-name</td>
	<td>${user}</td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-mail</td>
	<td>${mail}</td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-pass-pass1</td>
	<td>${user}</td>
</tr>
<tr>
	<td>type</td>
	<td>id=edit-pass-pass2</td>
	<td>${user}</td>
</tr>
<!--Verify Status Active-->
<tr>
	<td>verifyElementPresent</td>
	<td>id=edit-status-1</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>id=edit-notify</td>
	<td>off</td>
</tr>
{{> verify_org_user_role}}
{{> set_user_role}}


<tr>
	<td>clickAndWait</td>
	<td>id=edit-submit</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>css=div.messages.status:contains('Created a new user account for ${user}. No e-mail has been sent.')</td>
	<td></td>
</tr>

{{> add_user_site_section}}